# Byte-compiled / cache
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Virtual environments
.venv/
env/
novax/Include
novax/Lib
novax/Scripts
novax/pyvenv.cfg

# Hatch / Build artifacts
*.egg-info/
.eggs/
.hatch_cache/

# OS / IDE files
.DS_Store
.vscode/
.novax/
.idea/

# Colab / Jupyter
*.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# MkDocs build output (deployed to gh-pages branch, not committed to source)
site/
